<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.software_1.mapper.StatisticalDataMapper">
    <insert id="saveCache" parameterType="com.cqupt.software_1.entity.StaticData">
        insert into "static_data" (all_count, all_index, all_miss_rate,all_valid_rate) values ('${allCount}','${allIndex}','${allMissRate}','${allValidRate}')
    </insert>
    <delete id="deleteCache">
        delete from "static_data";
    </delete>

    <select id="getAllTableNameOfDataBase" resultType="java.lang.String">

        select table_name from information_schema.tables  where table_schema='public';

    </select>



    <select id="getCount" resultType="java.lang.Long">

        select COUNT(*) from "${tableName}";

    </select>
    <select id="getColumn" resultType="java.lang.Long">
        SELECT COUNT(*)  FROM INFORMATION_SCHEMA.COLUMNS
        WHERE table_schema = 'public' AND table_name = #{tableName};

    </select>
    <select id="getColumnsByTableName" resultType="java.lang.String">



        SELECT COLUMN_NAME
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE TABLE_SCHEMA = 'public'
          AND TABLE_NAME = #{tableName};

    </select>
    <select id="getColumnMissCount" resultType="java.lang.Long">

        SELECT COUNT(*) FROM "${tableName}" WHERE "${filedName}" IS NULL;

    </select>
    <select id="countTableBeforeDate" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM table_info
        WHERE create_time &lt;= CAST(#{dateParam} AS timestamp)
    </select>
    <select id="getStaticData" resultType="com.cqupt.software_1.entity.StaticData">
        select * from "static_data";
    </select>
</mapper>
