<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.software_1.mapper.TableDataMapper">
    <insert id="insertRow">
        INSERT INTO "${tableName}"
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <foreach collection="row" item="value">
                #{value},
            </foreach>
        </trim>
    </insert>
        <insert id="bachInsertData" parameterType="java.util.List">
                INSERT INTO "${tableName}"
                (
                <!-- 遍历第一行的键，即列名 -->
                <foreach collection="diseaseData[0].keySet()" item="key" index="key"  separator=",">
                        "${key}"
                </foreach>
                )
                VALUES
                <!-- 遍历数据集合，即行 -->
                <foreach collection="diseaseData" item="rowMap" separator=",">
                        (
                        <!-- 遍历行中的每个列值 -->
                        <foreach collection="diseaseData[0].keySet()" item="key" index="index" separator=",">
                                <choose>
                                        <when test="rowMap[key] == null">
                                                NULL
                                        </when>
                                        <otherwise>
                                                '${rowMap[key]}'
                                        </otherwise>
                                </choose>
                        </foreach>
                        )
                </foreach>
        </insert>
    <insert id="batchInsertCsv">
        insert into "${tableName}" values
            <foreach collection="csvData" separator="," item="row">
                <foreach collection="row" separator="," item="colData" open="(" close=")">
                    '${colData}'
                </foreach>
            </foreach>
    </insert>

    <update id="createTable">
        create table "${tableName}" (
        <foreach collection="headers" item="columnName" separator=",">
            "${columnName}" VARCHAR(255)
        </foreach>
        );

    </update>
<!--    创建表头-->
    <update id="createTableByField">
--         CREATE TABLE "${tableName}"
--         (
--                 dataid character varying(255) COLLATE pg_catalog."default",
--                 visitno character varying(255) COLLATE pg_catalog."default",
--                 "WBC" character varying(255) COLLATE pg_catalog."default",
--                 "NEUT_num" character varying(255) COLLATE pg_catalog."default",
--                 "LYMPH_num" character varying(255) COLLATE pg_catalog."default",
--                 "MONO_num" character varying(255) COLLATE pg_catalog."default",
--                 "EO_num" character varying(255) COLLATE pg_catalog."default",
--                 "BASO_num" character varying(255) COLLATE pg_catalog."default",
--                 "NEUT_per" character varying(255) COLLATE pg_catalog."default",
--                 "LYMPH_per" character varying(255) COLLATE pg_catalog."default",
--                 "MONO_per" character varying(255) COLLATE pg_catalog."default",
--                 "EO_per" character varying(255) COLLATE pg_catalog."default",
--                 "BASO_per" character varying(255) COLLATE pg_catalog."default",
--                 "RBC" character varying(255) COLLATE pg_catalog."default",
--                 "HGB" character varying(255) COLLATE pg_catalog."default",
--                 "HCT" character varying(255) COLLATE pg_catalog."default",
--                 "MCV" character varying(255) COLLATE pg_catalog."default",
--                 "MCH" character varying(255) COLLATE pg_catalog."default",
--                 "MCHC" character varying(255) COLLATE pg_catalog."default",
--                 "RDW_SD" character varying(255) COLLATE pg_catalog."default",
--                 "RDW_CV" character varying(255) COLLATE pg_catalog."default",
--                 "PLT" character varying(255) COLLATE pg_catalog."default",
--                 "PCT" character varying(255) COLLATE pg_catalog."default",
--                 "MPV" character varying(255) COLLATE pg_catalog."default",
--                 "P_LCR" character varying(255) COLLATE pg_catalog."default",
--                 "PDW" character varying(255) COLLATE pg_catalog."default",
--                 patient_id character varying(255) COLLATE pg_catalog."default",
--                 name character varying(255) COLLATE pg_catalog."default",
--                 sexcode character varying(255) COLLATE pg_catalog."default",
--                 sexname character varying(255) COLLATE pg_catalog."default",
--                 birthdate character varying(255) COLLATE pg_catalog."default",
--                 nationcode character varying(255) COLLATE pg_catalog."default",
--                 nationname character varying(255) COLLATE pg_catalog."default",
--                 maritalstatuscode character varying(255) COLLATE pg_catalog."default",
--                 maritalstatusname character varying(255) COLLATE pg_catalog."default",
--                 occupationcategorycode character varying(255) COLLATE pg_catalog."default",
--                 occupationcategoryname character varying(255) COLLATE pg_catalog."default",
--                 filingtime character varying(255),
--                 nationalitycode character varying(255) COLLATE pg_catalog."default",
--                 nationalityname character varying(255) COLLATE pg_catalog."default",
--                 edubackgroundcode character varying(255) COLLATE pg_catalog."default",
--                 edubackgroundname character varying(255) COLLATE pg_catalog."default",
--                 province character varying(255) COLLATE pg_catalog."default",
--                 city character varying(255) COLLATE pg_catalog."default",
--                 county character varying(255) COLLATE pg_catalog."default",
--                 orgcode character varying(255) COLLATE pg_catalog."default",
--                 dataid1 character varying(255) COLLATE pg_catalog."default",
--                 orgname character varying(255) COLLATE pg_catalog."default",
--                 visitno1 character varying(255) COLLATE pg_catalog."default",
--                 patient_id1 character varying(255) COLLATE pg_catalog."default",
--                 visittypecode character varying(255) COLLATE pg_catalog."default",
--                 visittypename character varying(255) COLLATE pg_catalog."default",
--                 departcode character varying(255) COLLATE pg_catalog."default",
--                 departname character varying(255) COLLATE pg_catalog."default",
--                 abobloodcode character varying(255) COLLATE pg_catalog."default",
--                 abobloodname character varying(255) COLLATE pg_catalog."default",
--                 rhbloodcode character varying(255) COLLATE pg_catalog."default",
--                 rhbloodname character varying(255) COLLATE pg_catalog."default",
--                 chiefcomplaint character varying(255) COLLATE pg_catalog."default",
--                 diseaseshistory character varying(255) COLLATE pg_catalog."default",
--                 infectionhistory character varying(255) COLLATE pg_catalog."default",
--                 preventiveinoculationhistory character varying(255) COLLATE pg_catalog."default",
--                 operationhistory character varying(255) COLLATE pg_catalog."default",
--                 bloodtranshistory character varying(255) COLLATE pg_catalog."default",
--                 allergichistory character varying(255) COLLATE pg_catalog."default",
--                 personalhistory character varying(255) COLLATE pg_catalog."default",
--                 obstericalhistory character varying(255) COLLATE pg_catalog."default",
--                 menstrualhistory character varying(255) COLLATE pg_catalog."default",
--                 familyhistory character varying(255) COLLATE pg_catalog."default",
--                 physicalexamination character varying(255) COLLATE pg_catalog."default",
--                 outpatientservice character varying(255) COLLATE pg_catalog."default",
--                 bloodpressure character varying(255) COLLATE pg_catalog."default",
--                 heartrate character varying(255) COLLATE pg_catalog."default",
--                 temperature character varying(255) COLLATE pg_catalog."default",
--                 bmi character varying(255) COLLATE pg_catalog."default",
--                 orgcode1 character varying(255) COLLATE pg_catalog."default",
--                 orgname1 character varying(255) COLLATE pg_catalog."default",
--                 dataid2 character varying(255) COLLATE pg_catalog."default",
--                 visitno2 character varying(255) COLLATE pg_catalog."default",
--                 patient_id2 character varying(255) COLLATE pg_catalog."default",
--                 visittypecode1 character varying(255) COLLATE pg_catalog."default",
--                 visittypename1 character varying(255) COLLATE pg_catalog."default",
--                 visitdatetime character varying(255) COLLATE pg_catalog."default",
--                 admissiondatetime character varying(255) COLLATE pg_catalog."default",
--                 dischargedatetime character varying(255) COLLATE pg_catalog."default",
--                 diseasestatecode character varying(255) COLLATE pg_catalog."default",
--                 diseasestatename character varying(255) COLLATE pg_catalog."default",
--                 referralsign character varying(255) COLLATE pg_catalog."default",
--                 infectionsign character varying(255) COLLATE pg_catalog."default",
--                 visitreason character varying(255) COLLATE pg_catalog."default",
--                 visitdeptnum character varying(255) COLLATE pg_catalog."default",
--                 visitdeptname character varying(255) COLLATE pg_catalog."default",
--                 visitdoctorcode character varying(255) COLLATE pg_catalog."default",
--                 visitdoctorname character varying(255) COLLATE pg_catalog."default",
--                 onsetdatetime character varying(255) COLLATE pg_catalog."default",
--                 othermedicalmeasure character varying(255) COLLATE pg_catalog."default",
--                 deathcausecode character varying(255) COLLATE pg_catalog."default",
--                 deathcausename character varying(255) COLLATE pg_catalog."default",
--                 wardareacode character varying(255) COLLATE pg_catalog."default",
--                 wardareaname character varying(255) COLLATE pg_catalog."default",
--                 sickroomno character varying(255) COLLATE pg_catalog."default",
--                 sickbedno character varying(255) COLLATE pg_catalog."default",
--                 responsibilitydoctorcode character varying(255) COLLATE pg_catalog."default",
--                 responsibilitydoctor character varying(255) COLLATE pg_catalog."default",
--                 age character varying(255) COLLATE pg_catalog."default",
--                 ageunit character varying(255) COLLATE pg_catalog."default",
--                 height character varying(255) COLLATE pg_catalog."default",
--                 weight character varying(255) COLLATE pg_catalog."default",
--                 cureresultcode character varying(255) COLLATE pg_catalog."default",
--                 cureresultname character varying(255) COLLATE pg_catalog."default",
--                 patient_id3 character varying(255) COLLATE pg_catalog."default",
--                 dataid3 character varying(255) COLLATE pg_catalog."default",
--                 cardno character varying(255) COLLATE pg_catalog."default",
--                 cardtypecode character varying(255) COLLATE pg_catalog."default",
--                 cardtypename character varying(255) COLLATE pg_catalog."default",
--                 orgcode2 character varying(255) COLLATE pg_catalog."default",
--                 orgname2 character varying(255) COLLATE pg_catalog."default",
--                 patient_empi character varying(255) COLLATE pg_catalog."default",
--                 name1 character varying(255) COLLATE pg_catalog."default",
--                 sexcode1 character varying(255) COLLATE pg_catalog."default",
--                 sexname1 character varying(255) COLLATE pg_catalog."default",
--                 dataid4 character varying(255) COLLATE pg_catalog."default",
--                 orgcode3 character varying(255) COLLATE pg_catalog."default",
--                 orgname3 character varying(255) COLLATE pg_catalog."default",
--                 visitno3 character varying(255) COLLATE pg_catalog."default",
--                 patient_id4 character varying(255) COLLATE pg_catalog."default",
--                 visittypecode2 character varying(255) COLLATE pg_catalog."default",
--                 visittypename2 character varying(255) COLLATE pg_catalog."default",
--                 visitdepartcode character varying(255) COLLATE pg_catalog."default",
--                 visitdepartname character varying(255) COLLATE pg_catalog."default",
--                 visitdatetime1 character varying(255) COLLATE pg_catalog."default",
--                 chinesewesterndiagmark character varying(255) COLLATE pg_catalog."default",
--                 ishostdiag character varying(255) COLLATE pg_catalog."default",
--                 diagno character varying(255) COLLATE pg_catalog."default",
--                 suspediagmark character varying(255) COLLATE pg_catalog."default",
--                 diagnamecatecode character varying(255) COLLATE pg_catalog."default",
--                 diagnamecatename character varying(255) COLLATE pg_catalog."default",
--                 diagcode character varying(255) COLLATE pg_catalog."default",
--                 diagname character varying(255) COLLATE pg_catalog."default",
--                 tcmdiseasecode character varying(255) COLLATE pg_catalog."default",
--                 tcmdiseasename character varying(255) COLLATE pg_catalog."default",
--                 diagdatetime character varying(255) COLLATE pg_catalog."default",
--                 diagcomment character varying(255) COLLATE pg_catalog."default",
--                 tcmsyndcode character varying(255) COLLATE pg_catalog."default",
--                 tcmsyndname character varying(255) COLLATE pg_catalog."default",
--                 diagdasedcode character varying(255) COLLATE pg_catalog."default",
--                 diagdasedname character varying(255) COLLATE pg_catalog."default",
--                 observationresults character varying(255) COLLATE pg_catalog."default",
--                 diagdoctorcode character varying(255) COLLATE pg_catalog."default",
--                 diagdoctorcame character varying(255) COLLATE pg_catalog."default"
--                 )

    CREATE TABLE "${tableName}" (
          "dataid" varchar(255) COLLATE "pg_catalog"."default",
          "visitno" varchar(255) COLLATE "pg_catalog"."default",
          "WBC" float8,
          "NEUT_num" float8,
          "LYMPH_num" float8,
          "MONO_num" float8,
          "EO_num" float8,
          "BASO_num" float8,
          "NEUT_per" float8,
          "LYMPH_per" float8,
          "MONO_per" float8,
          "EO_per" float8,
          "BASO_per" float8,
          "RBC" float8,
          "HGB" int4,
          "HCT" float8,
          "MCV" float8,
          "MCH" float8,
          "MCHC" int4,
          "RDW_SD" float8,
          "RDW_CV" float8,
          "PLT" int4,
          "PCT" float8,
          "MPV" float8,
          "P_LCR" float8,
          "PDW" float8,
          "patient_id" varchar(255) COLLATE "pg_catalog"."default",
          "name" varchar(255) COLLATE "pg_catalog"."default",
          "sexcode" int4,
          "sexname" varchar(255) COLLATE "pg_catalog"."default",
          "birthdate" varchar(255) COLLATE "pg_catalog"."default",
          "nationcode" int4,
          "nationname" varchar(255) COLLATE "pg_catalog"."default",
          "maritalstatuscode" int4,
          "maritalstatusname" varchar(255) COLLATE "pg_catalog"."default",
          "occupationcategorycode" int4,
          "occupationcategoryname" varchar(255) COLLATE "pg_catalog"."default",
          "filingtime" timestamp(6),
          "nationalitycode" int4,
          "nationalityname" varchar(255) COLLATE "pg_catalog"."default",
          "edubackgroundcode" int4,
          "edubackgroundname" varchar(255) COLLATE "pg_catalog"."default",
          "province" varchar(255) COLLATE "pg_catalog"."default",
          "city" varchar(255) COLLATE "pg_catalog"."default",
          "county" varchar(255) COLLATE "pg_catalog"."default",
          "orgcode" varchar(255) COLLATE "pg_catalog"."default",
          "dataid1" varchar(255) COLLATE "pg_catalog"."default",
          "orgname" varchar(255) COLLATE "pg_catalog"."default",
          "visitno1" varchar(255) COLLATE "pg_catalog"."default",
          "patient_id1" varchar(255) COLLATE "pg_catalog"."default",
          "visittypecode" int4,
          "visittypename" varchar(255) COLLATE "pg_catalog"."default",
          "departcode" int4,
          "departname" varchar(255) COLLATE "pg_catalog"."default",
          "abobloodcode" int4,
          "abobloodname" varchar(255) COLLATE "pg_catalog"."default",
          "rhbloodcode" int4,
          "rhbloodname" varchar(255) COLLATE "pg_catalog"."default",
          "chiefcomplaint" varchar(255) COLLATE "pg_catalog"."default",
          "diseaseshistory" varchar(255) COLLATE "pg_catalog"."default",
          "infectionhistory" varchar(255) COLLATE "pg_catalog"."default",
          "preventiveinoculationhistory" varchar(255) COLLATE "pg_catalog"."default",
          "operationhistory" varchar(255) COLLATE "pg_catalog"."default",
          "bloodtranshistory" varchar(255) COLLATE "pg_catalog"."default",
          "allergichistory" varchar(255) COLLATE "pg_catalog"."default",
          "personalhistory" varchar(255) COLLATE "pg_catalog"."default",
          "obstericalhistory" varchar(255) COLLATE "pg_catalog"."default",
          "menstrualhistory" varchar(255) COLLATE "pg_catalog"."default",
          "familyhistory" varchar(255) COLLATE "pg_catalog"."default",
          "physicalexamination" varchar(255) COLLATE "pg_catalog"."default",
          "outpatientservice" varchar(255) COLLATE "pg_catalog"."default",
          "bloodpressure" int4,
          "heartrate" int4,
          "temperature" float8,
          "bmi" varchar(255) COLLATE "pg_catalog"."default",
          "orgcode1" varchar(255) COLLATE "pg_catalog"."default",
          "orgname1" varchar(255) COLLATE "pg_catalog"."default",
          "dataid2" varchar(255) COLLATE "pg_catalog"."default",
          "visitno2" varchar(255) COLLATE "pg_catalog"."default",
          "patient_id2" varchar(255) COLLATE "pg_catalog"."default",
          "visittypecode1" int4,
          "visittypename1" varchar(255) COLLATE "pg_catalog"."default",
          "visitdatetime" varchar(255) COLLATE "pg_catalog"."default",
          "admissiondatetime" varchar(255) COLLATE "pg_catalog"."default",
          "dischargedatetime" varchar(255) COLLATE "pg_catalog"."default",
          "diseasestatecode" varchar(255) COLLATE "pg_catalog"."default",
          "diseasestatename" varchar(255) COLLATE "pg_catalog"."default",
          "referralsign" varchar(255) COLLATE "pg_catalog"."default",
          "infectionsign" varchar(255) COLLATE "pg_catalog"."default",
          "visitreason" varchar(255) COLLATE "pg_catalog"."default",
          "visitdeptnum" int4,
          "visitdeptname" varchar(255) COLLATE "pg_catalog"."default",
          "visitdoctorcode" int4,
          "visitdoctorname" varchar(255) COLLATE "pg_catalog"."default",
          "onsetdatetime" varchar(255) COLLATE "pg_catalog"."default",
          "othermedicalmeasure" varchar(255) COLLATE "pg_catalog"."default",
          "deathcausecode" varchar(255) COLLATE "pg_catalog"."default",
          "deathcausename" varchar(255) COLLATE "pg_catalog"."default",
          "wardareacode" varchar(255) COLLATE "pg_catalog"."default",
          "wardareaname" varchar(255) COLLATE "pg_catalog"."default",
          "sickroomno" varchar(255) COLLATE "pg_catalog"."default",
          "sickbedno" varchar(255) COLLATE "pg_catalog"."default",
          "responsibilitydoctorcode" int4,
          "responsibilitydoctor" varchar(255) COLLATE "pg_catalog"."default",
          "age" int4,
          "ageunit" varchar(255) COLLATE "pg_catalog"."default",
          "height" float4,
          "weight" varchar(255) COLLATE "pg_catalog"."default",
          "cureresultcode" int4,
          "cureresultname" varchar(255) COLLATE "pg_catalog"."default",
          "patient_id3" varchar(255) COLLATE "pg_catalog"."default",
          "dataid3" varchar(255) COLLATE "pg_catalog"."default",
          "cardno" varchar(255) COLLATE "pg_catalog"."default",
          "cardtypecode" varchar(255) COLLATE "pg_catalog"."default",
          "cardtypename" varchar(255) COLLATE "pg_catalog"."default",
          "orgcode2" varchar(255) COLLATE "pg_catalog"."default",
          "orgname2" varchar(255) COLLATE "pg_catalog"."default",
          "patient_empi" varchar(255) COLLATE "pg_catalog"."default",
          "name1" varchar(255) COLLATE "pg_catalog"."default",
          "sexcode1" int4,
          "sexname1" varchar(255) COLLATE "pg_catalog"."default",
          "dataid4" varchar(255) COLLATE "pg_catalog"."default",
          "orgcode3" varchar(255) COLLATE "pg_catalog"."default",
          "orgname3" varchar(255) COLLATE "pg_catalog"."default",
          "visitno3" varchar(255) COLLATE "pg_catalog"."default",
          "patient_id4" varchar(255) COLLATE "pg_catalog"."default",
          "visittypecode2" int4,
          "visittypename2" varchar(255) COLLATE "pg_catalog"."default",
          "visitdepartcode" int4,
          "visitdepartname" varchar(255) COLLATE "pg_catalog"."default",
          "visitdatetime1" varchar(255) COLLATE "pg_catalog"."default",
          "chinesewesterndiagmark" int4,
          "ishostdiag" int4,
          "diagno" int4,
          "suspediagmark" varchar(255) COLLATE "pg_catalog"."default",
          "diagnamecatecode" varchar(255) COLLATE "pg_catalog"."default",
          "diagnamecatename" varchar(255) COLLATE "pg_catalog"."default",
          "diagcode" varchar(255) COLLATE "pg_catalog"."default",
          "diagname" varchar(255) COLLATE "pg_catalog"."default",
          "tcmdiseasecode" varchar(255) COLLATE "pg_catalog"."default",
          "tcmdiseasename" varchar(255) COLLATE "pg_catalog"."default",
          "diagdatetime" varchar(255) COLLATE "pg_catalog"."default",
          "diagcomment" varchar(255) COLLATE "pg_catalog"."default",
          "tcmsyndcode" varchar(255) COLLATE "pg_catalog"."default",
          "tcmsyndname" varchar(255) COLLATE "pg_catalog"."default",
          "diagdasedcode" varchar(255) COLLATE "pg_catalog"."default",
          "diagdasedname" varchar(255) COLLATE "pg_catalog"."default",
          "observationresults" varchar(255) COLLATE "pg_catalog"."default",
          "diagdoctorcode" int4,
          "diagdoctorcame" varchar(255) COLLATE "pg_catalog"."default"
        );

    </update>

<!--    <select id="getTableData" resultType="java.util.Map">-->
<!--        select * from ${tableName};-->
<!--    </select>-->
    <select id="getFilterData" resultType="java.util.LinkedHashMap">
        select * from ${tableName} where
        <foreach collection="conditions" item="featureVo">
            ${featureVo.optString} "${featureVo.featureName}" ${featureVo.computeOpt} ${featureVo.value}
        </foreach>
    </select>
        <select id="getTableData" resultType="java.util.LinkedHashMap">
                select * from "${tableName}" limit 50;
        </select>
        <select id="getColsTableData" resultType="java.util.LinkedHashMap">
                select
                    <foreach collection="colsName" item="colName" separator=",">
                            "${colName}"
                    </foreach>
                from ${tableName};
        </select>

        <select id="getAllTableData" resultType="java.util.LinkedHashMap">
                select * from ${tableName};
        </select>
        <select id="getCountByCondition" resultType="java.lang.Integer">
                SELECT COUNT(*) FROM ${tableName} WHERE "${featureName}" BETWEEN '${start}' AND '${end}';
        </select>
        <select id="getAllCount" resultType="java.lang.Integer">
                select COUNT(*) FROM "${tableName}";
        </select>
        <select id="getCount" resultType="java.lang.Integer">
                select COUNT(*) FROM ${tableName} where "${featureName}"='${featureValue}'
        </select>
    <select id="getTableDataByFields" resultType="java.util.Map">
        select
        <foreach collection="featureList" separator="," item="featureName">
            "${featureName}"
        </foreach>
        from "${tableName}"
    </select>
    <select id="getCountByName" resultType="java.lang.Integer">
        select COUNT(*) from "${tableName}";
    </select>


</mapper>